body {
	text-align: center;
	font-weight: bold;
	background: url('happy-socks-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color:#FF00FF;
	font-family: Helvetica;
}
h1 {
	color:#000;
}
h2 {
	color:#000;
}