* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
nav {
	font-size: 1em;
 	float: right;
} 

nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}
section {
	background: #fff;
	color: #222;
	max-width:1200px;
	margin:auto;
}

footer {
	text-align: center;
	padding: 1em 0;
  	clear: both;
}
h1,h2 {
	text-transform: uppercase;
	font-weight: 400;
} 

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1em;
	padding: .8em 0;
	color: #fffebb;
	border-bottom-color: #fffebb;
}
p {
   	float: left;
	text-align:left;
	padding: 2em 0;
}
img {
}

#logo {
	display: block;
	margin: 0 auto;
	width: 200px;
	float:left;
} 

#sunsetpic {
	display:block;
	margin: 0 auto;
	padding-left: 20em;
}

#bio {
	display:block;
	margin: 0 auto;
	padding-left: 20em;
}

.left {
	text-align: left;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
